<div class="py-4">
    <div class="mx-4 p-sm-5 p-4 footer corner text-white sticky-bottom  flex">
        <div class="" [style.max-width.px]="1500">
            <div class="mb-2 mykelt  h3 font-weight-bold">MYKELT</div>
            <div class="mb-2 ">Analizamos smartphones, laptops, gadgets, blockchain y otras novedades tecnológicas para
                que tomes las mejores decisiones.</div>
            <div class="bold600"><a routerLink="/preguntas">Preguntas frecuentes</a></div>
        </div>
    </div>
</div>