<app-menu></app-menu>
<div class="wrapper">

  <p class="display-4 bold600 text-center my-5 py-4">Preguntas frecuentes</p>

  <div class="container my-5 pt-3 pb-5 col-lg-8">
    <p class="h2">¿Qué es la fecha de entrega estimada?</p>
    <br>
    La fecha de entrega estimada es una previsión de cuándo calculamos que podríamos entregarte un pedido. Es la suma
    del plazo estimado de gestión y el tiempo de envío. Básicamente:
    <br><br>
    <p class="text-center">tiempos estimados de gestión + envío = fecha de entrega estimada</p>
    <br>
    La media de tiempo de gestión es de 2 a 5 días laborables. Cuando calculamos el <span
      class="font-weight-bold">tiempo estimado de gestión</span>, tenemos en cuenta el volumen de pedidos actual y
    nuestra capacidad.

    El <span class="font-weight-bold">tiempo estimado de envío</span> se calcula según nuestros histórico de datos de
    envío para pedidos entregados en tu zona o en la región en la que vendes.
    <br><br>
    La <span class="font-weight-bold">fecha de entrega estimada</span> es solo un cálculo, <span
      class="font-weight-bold">no una garantía</span>. Estos son algunos motivos por los que podrías recibir un pedido
    después de la fecha de entrega estimada:
    <br><br>
    - Problemas con archivos de diseño<br>
    - Productos fuera de stock<br>
    - Retrasos relacionados con los envíos, como intentos fallidos de entrega o interrupciones del servicio<br>
    <br>
    Hacemos todo lo que esté a nuestro alcance para cumplir nuestras estimaciones de entrega. Si alguna vez te pasa que
    no has recibido el pedido y su fecha de entrega estimada ya ha pasado, espera unos días más. Si sigues sin recibir
    tu pedido, ponte en contacto con nosotros. Revisaremos el estado de tu pedido y te explicaremos lo que debes hacer.



    <p class="h2 mt-5 pt-4">¿Cuánto tarda en llegar el pedido?</p>
    <br>
    Los pedidos a España tardan 3–6 días hábiles. Para otros países:
    <br><br>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">País</th>
            <th scope="col">Tiempo de envío*</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Australia</th>
            <td>18–20 días hábiles</td>
          </tr>
          <tr>
            <th scope="row">Estados Unidos (USA)</th>
            <td>5–8 días hábiles</td>
          </tr>
          <tr>
            <th scope="row">Irlanda</th>
            <td>9–12 días hábiles</td>
          </tr>
          <tr>
            <th scope="row">Nueva Zelanda</th>
            <td>18–20 días hábiles</td>
          </tr>
          <tr>
            <th scope="row">Reino Unido (UK)</th>
            <td>7–10 días hábiles</td>
          </tr>
          <tr>
            <th scope="row">Singapur</th>
            <td>11–21 días hábiles</td>
          </tr>
          <tr>
            <th scope="row">Suiza</th>
            <td>8–13 días hábiles</td>
          </tr>
          <tr>
            <th scope="row">Taiwán</th>
            <td>9–16 días hábiles</td>
          </tr>
        </tbody>
      </table>
    </div>


    *Los tiempos de envío son estimados y podrían diferir dependiendo del número de pedidos.


    <p class="h2 mt-5 pt-4">¿Qué debo hacer si ya ha pasado mi tiempo estimado de entrega y sigo sin recibir mi pedido?
    </p>
    <br>
    Si la fecha de entrega estimada ha pasado y no has recibido tu pedido, tienes estas opciones:
    <br><br>
    1. Espera uno o dos días. Los envíos pueden retrasarse por motivos impredecibles. Sabemos que resulta frustrante
    tener que hacer frente a los retrasos en los envíos, pero no olvides que nuestra fecha de entrega estimada es solo
    una estimación, no una garantía.
    <br><br>
    2. Si todavía no te ha llegado tu pedido, ponte en contacto con nosotros. Infórmanos del retraso en el envío y
    comprobaremos la estimación de entrega más actualizada para tu ubicación. Para ponerte en contacto con nosotros,
    consulta el apartado de contacto.


    <p class="h2 mt-5 pt-4">¿Me cobrarán tarifas de aduanas?</p>
    <br>
    Si tu pedido se envía desde un centro que está en una región distinta de la región de entrega, puede que tengas que
    pagar los gastos de tramitación o los aranceles aduaneros cuando se entregue. Las tarifas de aduanas pueden variar
    según el valor del pedido, los límites del país y otros factores.

    <p class="h2 mt-5 pt-4">¿Y si mi pedido ser pierde o se daña durante el transporte?</p>
    <br>
    Si no has recibido tu pedido o detectas algún problema con los productos, contacta con nosotros y te ayudaremos a
    resolverlo.

    <p class="h2 mt-5 pt-4">¿Puedo conocer más detalles de las fundas?</p>
    <br>
    Esta funda no solo es elegante, también es muy resistente. Su construcción sólida encajará perfectamente en tu
    teléfono y lo protegerá de arañazos, polvo, grasa y suciedad. Su acabado hace que sea original y fácil de agarrar.
    <br><br>
    - Hecha de una mezcla entre poliuretano termoplástico (TPU) y Policarbonato (PC)<br>
    - Parte trasera de policarbonato sólida y duradera<br>
    - Lados seguros y flexibles de poliuretano termoplástico<br>
    - Bisel de 5 mm (0,02")<br>
    - Entrada de puertos alineada perfectamente<br>
    - Fácil de quitar y poner<br>
    - Apta para carga inalámbrica<br>
    - Los gráficos se imprimen con impresión UV a la funda con un acabado mate y suave<br>
    - La funda SE se ajusta al modelo de iPhone SE 2020<br>
    - Producto base procedente de China<br>

  </div>

</div>
<app-footer></app-footer>