<app-menu></app-menu>
<div class="wrapper">

    <div class="container mb-5 text-center h1 mt-5">
        Restablece tu contraseña 
    </div>

    <div class="container mb-5 d-flex justify-content-center">
        <div class="card col-lg-5 mt-5 mx-0 px-0">
            <div class="card-body my-3 mx-md-3">
                <div class="mb-3">
                    <form #f="ngForm" (ngSubmit)="restore()" novalidate>

                        <div class="form-group">
                            <label for="email">Correo electrónico</label>
                            <input type="text" name="email" id="email" class="form-control"
                                [(ngModel)]="email" required>
                        </div>

                        <div class="text-center mt-4">
                            <button class="btn  btn-dark corner bold600 px-5" [disabled]="!f.valid">
                                <i class="fas fa-sign-in-alt"></i> Siguiente
                            </button>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>